In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [45]:
raw_data = pd.read_csv("C:\\Users\\HIRUSHA\\Desktop\\SleepDisoder\\artifact\\Sleep_health_and_lifestyle_dataset.csv")

In [46]:
raw_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [47]:
raw_data.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [48]:
raw_data.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [49]:
raw_data.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [50]:
num_colum = ['Age', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
        'Heart Rate', 'Daily Steps']

In [51]:
cat_column = ['Gender', 'Occupation', 'BMI Category', 'Blood Pressure']

In [83]:
data = raw_data.drop("Person ID",axis=1)

In [84]:
data["Sleep Disorder"].fillna("No",inplace=True)

In [85]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,No
1,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [86]:
data["Sleep Disorder"].unique()

array(['No', 'Sleep Apnea', 'Insomnia'], dtype=object)

In [87]:
mapping = {'No':'0', 'Sleep Apnea':'1', 'Insomnia':'2'}
data["Sleep_dis"] = data["Sleep Disorder"].map(mapping)

In [88]:
data["Sleep_dis"].unique()

array(['0', '1', '2'], dtype=object)

In [89]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Sleep_dis
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,No,0
1,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No,0
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No,0
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,1
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,1

In [90]:
data["Occupation"].unique()

array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
       'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
       'Salesperson', 'Manager'], dtype=object)

In [91]:
map_occupation = {'Software Engineer':'1', 'Doctor':'2', 'Sales Representative':'3', 'Teacher':'4',
       'Nurse':'5', 'Engineer':'6', 'Accountant':'7', 'Scientist':'8', 'Lawyer':'9',
       'Salesperson':'10', 'Manager':'11'}

In [92]:
data['Occupation']= data['Occupation'].map(map_occupation)

In [93]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Sleep_dis
0,Male,27,1,6.1,6,42,6,Overweight,126/83,77,4200,No,0
1,Male,28,2,6.2,6,60,8,Normal,125/80,75,10000,No,0
2,Male,28,2,6.2,6,60,8,Normal,125/80,75,10000,No,0
3,Male,28,3,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,1
4,Male,28,3,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,1

In [94]:
data["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [95]:
gender_map = {"Male":'0',"Female": '1'}

In [96]:
data["Gender"]= data["Gender"].map(gender_map)

In [97]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Sleep_dis
0,0,27,1,6.1,6,42,6,Overweight,126/83,77,4200,No,0
1,0,28,2,6.2,6,60,8,Normal,125/80,75,10000,No,0
2,0,28,2,6.2,6,60,8,Normal,125/80,75,10000,No,0
3,0,28,3,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,1
4,0,28,3,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,1

In [98]:
data["BMI Category"].unique()

array(['Overweight', 'Normal', 'Obese', 'Normal Weight'], dtype=object)

In [99]:
bmi_mapping = {'Overweight':'0', 'Normal':'1', 'Obese':'2', 'Normal Weight':'3'}

In [100]:
data["BMI Category"]=data['BMI Category'].map(bmi_mapping)

In [101]:
data.drop("Sleep Disorder",axis=1,inplace=True)

In [102]:
data["Blood Pressure"].unique()

array(['126/83', '125/80', '140/90', '120/80', '132/87', '130/86',
       '117/76', '118/76', '128/85', '131/86', '128/84', '115/75',
       '135/88', '129/84', '130/85', '115/78', '119/77', '121/79',
       '125/82', '135/90', '122/80', '142/92', '140/95', '139/91',
       '118/75'], dtype=object)

In [103]:
def categorize_bp(bp):
    systolic, diastolic = map(int, bp.split('/'))

    if systolic < 90 or diastolic < 60:
        return "Low"
    elif systolic < 120 and diastolic < 80:
        return "Normal"
    elif systolic in range(120, 130) and diastolic < 80:
        return "Elevated"
    elif systolic in range(130, 140) or diastolic in range(80, 90):
        return "High-I"
    elif systolic >= 140 or diastolic >= 90:
        return "High-II"

In [104]:
data["bp"]=data["Blood Pressure"].apply(categorize_bp)

In [105]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep_dis,bp
0,0,27,1,6.1,6,42,6,0,126/83,77,4200,0,High-I
1,0,28,2,6.2,6,60,8,1,125/80,75,10000,0,High-I
2,0,28,2,6.2,6,60,8,1,125/80,75,10000,0,High-I
3,0,28,3,5.9,4,30,8,2,140/90,85,3000,1,High-II
4,0,28,3,5.9,4,30,8,2,140/90,85,3000,1,High-II

In [106]:
data["bp"].unique()

array(['High-I', 'High-II', 'Normal', 'Elevated'], dtype=object)

In [107]:
bp_mapping = {'Low':'0','High-I':'1', 'High-II':'2', 'Normal':'3', 'Elevated':'4'}

In [108]:
data['Blood Pressure']=data['bp'].map(bp_mapping)

In [109]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep_dis,bp
0,0,27,1,6.1,6,42,6,0,1,77,4200,0,High-I
1,0,28,2,6.2,6,60,8,1,1,75,10000,0,High-I
2,0,28,2,6.2,6,60,8,1,1,75,10000,0,High-I
3,0,28,3,5.9,4,30,8,2,2,85,3000,1,High-II
4,0,28,3,5.9,4,30,8,2,2,85,3000,1,High-II

In [110]:
data.drop("bp",axis=1,inplace=True)

In [111]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep_dis
0,0,27,1,6.1,6,42,6,0,1,77,4200,0
1,0,28,2,6.2,6,60,8,1,1,75,10000,0
2,0,28,2,6.2,6,60,8,1,1,75,10000,0
3,0,28,3,5.9,4,30,8,2,2,85,3000,1
4,0,28,3,5.9,4,30,8,2,2,85,3000,1

In [112]:
y = data["Sleep_dis"]

In [113]:
x = data.drop("Sleep_dis",axis=1)

In [115]:
x.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps
0,0,27,1,6.1,6,42,6,0,1,77,4200
1,0,28,2,6.2,6,60,8,1,1,75,10000
2,0,28,2,6.2,6,60,8,1,1,75,10000
3,0,28,3,5.9,4,30,8,2,2,85,3000
4,0,28,3,5.9,4,30,8,2,2,85,3000

In [44]:
y.head()

0    0
1    0
2    0
3    1
4    1
Name: Sleep_dis, dtype: object

In [117]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\hirusha\desktop\sleepdisoder\venv\lib\site-packages (from scikit-learn) (1.24.4)
Collecting scipy>=1.5.0 (from scikit-learn)
  Using cached scipy-1.10.1-cp38-cp38-win_amd64.whl.metadata (58 kB)
Collecting joblib>=1.1.1 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.3.2 scipy-1.10.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [118]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [119]:
from sklearn.linear_model import LogisticRegression

In [122]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

c:\Users\HIRUSHA\Desktop\SleepDisoder\venv\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [123]:
guesses=lr.predict(x_test)

In [125]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, guesses))

0.8266666666666667

In [126]:
from sklearn.metrics import classification_report
print(classification_report(y_test,guesses))

              precision    recall  f1-score   support

           0       0.86      0.98      0.91        43
           1       0.91      0.62      0.74        16
           2       0.67      0.62      0.65        16

    accuracy                           0.83        75
   macro avg       0.81      0.74      0.77        75
weighted avg       0.83      0.83      0.82        75

In [127]:
pip install pickle

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [129]:
import pickle

pickle.dump(lr, open("C:\\Users\\HIRUSHA\\Desktop\\SleepDisoder\\artifact\\model", 'wb'))

In [130]:
loaded_model = pickle.load(open("C:\\Users\\HIRUSHA\\Desktop\\SleepDisoder\\artifact\\model", 'rb'))

In [131]:
loaded_model.predict(x_test)

array(['0', '0', '0', '0', '0', '2', '0', '0', '0', '0', '2', '0', '0',
       '0', '0', '1', '0', '2', '0', '0', '0', '0', '0', '0', '0', '0',
       '2', '2', '2', '1', '0', '0', '0', '1', '1', '0', '0', '0', '0',
       '0', '2', '1', '0', '2', '0', '0', '0', '0', '2', '0', '1', '2',
       '1', '0', '0', '1', '2', '2', '1', '0', '0', '2', '0', '0', '0',
       '0', '2', '0', '0', '0', '0', '2', '0', '1', '1'], dtype=object)